.h-adss{
    display: flex;
}

.h-add1{
    width: 50%;
}

.AdsAndRecent{
    margin-top: 30px;
}

.AdsAndRecent-child{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.AdsAndRecent-child{
    
    display: flex;
}

.AdsAndRecent-child-80{
    width: 80%;
    display: flex;
}

.recent-container{
    width: 80%;
}

.v-adds-container{
    width: 20%;
}
